@import '~antd/dist/antd.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.fc-slats td {
  height: 50px !important;
}
.own-appointment {
  background-color: red;
}
.event-not-available {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
  border: 1px solid #d9d9d9;
}
.event-declined {
  color: #f5222d;
  background: #fff1f0;
  border-color: #ffa39e;
  &:hover {
    color: #b40009;
  }
}
.event-draft {
  color: #fa8c16;
  background: #fff7e6;
  border-color: #ffd591;
  &:hover {
    color: #c56600;
  }
}
.event-pending {
  color: #1890ff;
  background: #e6f7ff;
  border-color: #91d5ff;
  &:hover {
    color: #096ecc;
  }
}
.event-confirmed {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
  &:hover {
    color: #3fa10d;
  }
}
